# <center> Cap 02.01 | Control Flow and Functions

---

**In this session we will cover some of the most important concepts:-**
1. Control Flow - Loops and Conditions
2. Functions

### 6. Control Flow

In [ ]:
# Understand the range() function of Python
list(range(10))     # integers from 0 to 9
list(range(-1, 11)) # integers from -1 to 10
list(range(-5, 6, 3)) # integers from -5 to 4 but skipping 3 values

[-5, -2, 1, 4]

In [ ]:
# For loop with range to print numbers between 1 to 10
for _ in range(1,11): # _ represents each element that is run "in" the specified range
  print(_) # inside the loop body is the code that will be executed each run

1
2
3
4
5
6
7
8
9
10

In [ ]:
# While loop to print the numbers between 1 to 10
# it's going to loop until the run reach the value specified on the counter "ct"
ct = 1
while ct<=10: #While counter is less than or equal to 10, it's going to perform a run
  print(ct)
  ct = ct + 1   # increment the counter by 1, then loop again

1
2
3
4
5
6
7
8
9
10

In [ ]:
# It's going to increment each run until ct is equal to 10
# when the counter is equal to eleve it's gonna execute the "break"

ct = 1 # Atributes the value
while True:
  if ct == 11: # Compares the value
    break
  print(ct)
  ct+=1   # same as ct = ct + 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Looping through a List of celestial bodies and printing each element
celestial_bodies = ['Black Hole', 'Exoplanets', 'Neutron Star']

# Create a for loop that takes the celestial_bodies list and converts its elements to uppercase strings

for i in range(len(celestial_bodies)): # function len counts the number of elements in the list
    celestial_bodies[i] = celestial_bodies[i].upper()

print(celestial_bodies)

['BLACK HOLE', 'EXOPLANETS', 'NEUTRON STAR']

In [ ]:
# Use enumerate to loop over the list and convert its elements to lower cases
for i, cb in enumerate(celestial_bodies): # enumerate gives two outputs per element: index, value
  celestial_bodies[i] = cb.lower()

print(celestial_bodies)

['black hole', 'exoplanets', 'neutron star']

In [1]:
# Looping through tuple is similar to list, here is how you can loop through a dictionary
inner_planet_moons = {'Mercury' : 0,
                      'Venus' : 0,
                      'Mars' : 2,
                      'Earth' : 1}

# Use items of dict to loop through it
for key, value in inner_planet_moons.items():
  print(f'{key} has {value} moons')

Mercury has 0 moons
Venus has 0 moons
Mars has 2 moons
Earth has 1 moons

#### Loops with Conditions

In [ ]:
# Create two variables to compare using if-elif-else block
a = 2
b = 2

# Check if a > b, a<b or a==b using
if a > b:                # If this is true
  print(f'{a} > {b}')    # Print this
elif a < b:              # Else if the above condition is not true, this is true
  print(f'{a} < {b}')    # Then print this
else:                    # If none of the above conditions are true
  print(f'{a} == {b}')   # Then print this

2 == 2

In [ ]:
# Guess the output of this code
for index in range(0, 10):
    print(index)
    if index == 3:
        break

0
1
2
3

In [ ]:
# Can you guess what's happening here and which loop will break?
for x in range(5):
    for y in range(5):
        if y > 2:
            break
        print(f"({x},{y})")

In [ ]:
# Can you guess the output of this code?
ct = 0
print('-- Help: type quit to exit --')
while True:
    ct+=1
    cb = input(f'Enter your favorite celestial body {ct}:- ')
    # Can you think of an alternate way to terminate the while loop? (very similar)
    if cb.lower() == 'quit':
        break

In [ ]:
# Create a tuple to store all the planets in our solar system
planets = ("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune")

# Your mission is to find if any gas giant is present in the planets tuple. If found even one, terminate the search
gas_giants = ('Jupiter', 'Saturn', 'Uranus', 'Neptune')

# Code your solution here
for planet in planets:
  if planet in gas_giants:
    print(f'{planet} is a gas giant')
    break

### 7. List Comprehension

In [4]:
''' CODE WITHOUT LIST COMPREHENSION '''

# Create a string
str_var = '123456789'

# Store charachter of this string as an integer element of a list called char_list if it is more than 5
char_list = []

for ch in str_var:
  if int(ch) > 5:
    char_list.append(int(ch))
    #print(char_list)

# Print the char_list
print(char_list)

[6, 7, 8, 9]

In [ ]:
''' CODE WITH LIST COMPREHENSION '''

# [<element to append in list> <for loop> <if condition>]
lst_comprehension = [int(ch) for ch in str_var if int(ch) > 5]
print(lst_comprehension)

[6, 7, 8, 9]

### Introduction to Functions

In [ ]:
# Define a Function
def greet():
  print("Hello All!")

In [ ]:
# call the function
greet()

Hello All!

In [ ]:
def greet_name(name_student):
  print(f'Hello {name_student}')

In [ ]:
greet_name('Anish')

Hello Anish

In [ ]:
greet_name('Mahima')

Hello Mahima

In [ ]:
greet_name('Joshua')

Hello Joshua

In [ ]:
# define the function with doc string
def add_nums(num1, num2):
  """
  Add two numbers given as inputs

  Parameters
  ----------
  num1: first number
  num2: second number

  Returns
  -------
  out: summation of num1 and num2
  """
  out = num1 + num2
  return out

# Call the function
four_plus_two = add_nums(4, 2)
four_plus_two

6

### Difference between inputs of the function
1. Postional Arguments
2. Keyword Arguments
3. Default Arguments

In [ ]:
# Default Argument for msg
def greet_name(name, msg='how are you?'):
  print(f"Hey {name}, {msg}")

In [ ]:
greet_name('Waddup cutie', msg='Anubhav')

Hey Waddup cutie, Anubhav

In [ ]:
# Positional args - postion matters
greet_name('Wadup Cutie', 'Anubhav') # incorrect order

Hey Wadup Cutie, Anubhav

In [ ]:
# keyword args - position doesn't matter
greet_name(msg='Waddup cutie?', name='Anubhav')

Hey Anubhav, Waddup cutie?