# <center> W1S3 | Python II

## So far what we have covered:-
1. Comments
2. Variables and Constants
3. Data Types - Strings, Integers, Floats, Boolean
4. Data Type Conversions (String to Float, e.t.c.)
5. I/O Operations
6. String Operations

## Today what we shall cover:-
1. Data Structures - List, Tuple, Dictionary
2. Unpacking of List and Tuple
3. Conversion from List to Tuple and Vice-Versa
4. Control Flow - Loops and Condition Statements

### 1. List

In [1]:
# Creating list of your three fav planets and print it

Favortite_planets = ['Mercury', 'Venus', 'Earth']
print(Favortite_planets)

['Mercury', 'Venus', 'Earth']

In [3]:
# Check the type of the above created list
type(Favortite_planets)

list

In [6]:
# Nested List Example -> List within a List
NestedPlanets = [Favortite_planets, ['Mars', 'Jupiter', 'Saturn']]
print(NestedPlanets)

[['Mercury', 'Venus', 'Earth'], ['Mars', 'Jupiter', 'Saturn']]

In [7]:
# Indexing a list - using above Nested List
NestedPlanets[0][1]

'Venus'

In [ ]:
# Guess the output question based on Nested List

In [8]:
# Change any element using indexing within a list -> Lists are Mutable
NestedPlanets[0][1], NestedPlanets[1][1] = NestedPlanets[1][1], NestedPlanets[0][1]
print(NestedPlanets)

[['Mercury', 'Jupiter', 'Earth'], ['Mars', 'Venus', 'Saturn']]

In [11]:
# To add element to fav_planets list, use .append(element) on that fav_planets list
NestedPlanets[1].append('Pluto')
print(NestedPlanets)

[['Mercury', 'Jupiter', 'Earth'], ['Mars', 'Venus', 'Saturn', 'Pluto']]

### 2. Tuple

In [12]:
# Create a simple tuple of fav_celestial_bodies
Celestial_bodies = ('Black Hole', 'Exoplanets', 'Neutron Star')
print(Celestial_bodies)

('Black Hole', 'Exoplanets', 'Neutron Star')

In [15]:
# You can have a nested tuple too!
NestedCelestial_bodies = (Celestial_bodies, ('white star', 'Moon', 'Galaxy'))
print(NestedCelestial_bodies)

(('Black Hole', 'Exoplanets', 'Neutron Star'), ('white star', 'Moon', 'Galaxy'))

In [16]:
# Check the type of the above created tuple
type(NestedCelestial_bodies)

tuple

In [17]:
# Try to see what happens if you change a element like you did for list!

NestedCelestial_bodies[0][1], NestedCelestial_bodies[1][1] = NestedCelestial_bodies[1][1], NestedCelestial_bodies[0][1]
print(NestedCelestial_bodies)

TypeError: 'tuple' object does not support item assignment

### 3. Unpacking of list and tuple

In [21]:
# Create a list of integers between 1 to 10 (both inclusive)
lst_demo = [1, 2, 3, 4, 5]

# Unpack the values of 1 and 2 in x and y variable respectively and others as a list

lst_demo = [1, 2, 3, 4, 5]
x, y, z, *rest = lst_demo
print(f"x: {x}, y: {y}, z: {z} rest: {rest}")

x: 1, y: 2, z: 3 rest: [4, 5]

In [ ]:
# Try to do it on the tuple by yourself!

### 4. Conversion between list and tuple

In [24]:
# Convert fav_planets list to a tuple and convert that tuple back to list
NestedPlanets_T=tuple(NestedPlanets)
print(NestedPlanets_T)

print()

NestedPlanets_L=list(NestedPlanets_T)
print(NestedPlanets_L)

(['Mercury', 'Jupiter', 'Earth'], ['Mars', 'Venus', 'Saturn', 'Pluto'])

[['Mercury', 'Jupiter', 'Earth'], ['Mars', 'Venus', 'Saturn', 'Pluto']]

### 5. Dictionary

In [36]:
# Create a dictionary for inner solar system planets and moons
# It stores data in the form of key-value pair
# key - planet, value - moons

inner_planets_moon_info = {
    'Mercury': 0,
    'Venus': 0,
    'Earth': 1,
    'Mars': 2
}

print(inner_planets_moon_info)

{'Mercury': 0, 'Venus': 0, 'Earth': 1, 'Mars': 2}

In [26]:
# Check the type of the above created dictionary
type(inner_planets_moon_info)

dict

In [32]:
# Print the moons of Mars
print(inner_planets_moon_info['Mars'])

2

In [37]:
# Change the number of moons of Earth to 2
inner_planets_moon_info['Earth'] = 2
print(inner_planets_moon_info)

{'Mercury': 0, 'Venus': 0, 'Earth': 2, 'Mars': 2}

In [38]:
# Add Jupiter Key with value of 92
inner_planets_moon_info['Jupiter'] = 92
print(inner_planets_moon_info)

{'Mercury': 0, 'Venus': 0, 'Earth': 2, 'Mars': 2, 'Jupiter': 92}

In [39]:
# Remove the jupiter value using pop operation on the dictionary with input as Key you want to remove
inner_planets_moon_info.pop('Jupiter')
print(inner_planets_moon_info)

{'Mercury': 0, 'Venus': 0, 'Earth': 2, 'Mars': 2}

In [40]:
# Get keys, values, items of above dictionary and convert them to list
inner_planets_moon_info_keys = list(inner_planets_moon_info.keys())
inner_planets_moon_info_values = list(inner_planets_moon_info.values())
inner_planets_moon_info_items = list(inner_planets_moon_info.items())

print(inner_planets_moon_info_keys)
print(inner_planets_moon_info_values)
print(inner_planets_moon_info_items)

['Mercury', 'Venus', 'Earth', 'Mars']
[0, 0, 2, 2]
[('Mercury', 0), ('Venus', 0), ('Earth', 2), ('Mars', 2)]